html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.header {
    position: fixed;
    top: 0;
    background: rgba(0,0, 0, 0.1);
    width: 100%;
    color: white;
}
#videoBack{
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  padding-bottom: none;
  color: #365b70;
  width: 100%;
  padding: none;
}
#image {
  float: left;
  border: none;
  padding-left: 30px;
  background: none;
  cursor: pointer;
  padding-bottom: none;
}
#home {
  padding-left: 10px;
  float: left;
  padding-top: 5px;
  padding-right: 195px;
}
.bigT{
  text-shadow: 3px 1.5px black;
  position :relative;
  color: white;
  font-family: Tahoma, Verdana;
  font-size: 40px;
  padding-bottom: 15px;
  text-align:center;
}
#logoh {
  padding-bottom: 7px;
  background: none;
  overflow: hidden;
  display: block;
  float: right;
  margin-left: -57px;
}
.smallT{
  text-shadow: 3px 1px black;
  font-family: Consolas, Tahoma, Verdana;
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
    color:white;
    text-align: center;
    font-size: 25px;
}
a{
  color: aqua;
  text-decoration: none; 
  background-color: none;
}
a:hover{
  text-decoration: none;
  color: white;
}

table{
  border-collapse: separate;
  position: relative;
  left: 50%;
  opacity: 1;
  right: 50%;
  margin-left: -281px;
  top: 50%;
}
td{
  border: 3px solid black ;
  height: 180px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  border-radius: 1px;
  vertical-align: middle;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 90px;
  background: rgba(255,255,255,0.08);
  cursor:pointer;
  border-style: solid;
  color: white;
  text-shadow: 3px 1px black;
}
table tr:first-child td{
  border-top:0;
}
table tr:last-child td{
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}
#message{
  margin-top: 50px;
  text-shadow: 3px 1px black;
  position: relative;
  color: white;
  text-align: center;
  font-size: 36.5px;
  margin-bottom: 50px;
}
button{
  position: relative;
  text-shadow: 1px 1px black;
  font-weight: bold;
  display: block;
  margin: auto;
  background-color: #00B2B2;
  margin-top: 70px;
  color: #122a51;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  font-family: calibri;
  padding: 6px 22px;
  border-radius: 7px;
  cursor: pointer;
  border-color: #122a51;
}
button:hover{
  background-color: aqua;
  color: #122a51;
  text-shadow: 1px 1px black;
}
#titlu{
  padding-left: 50px;
    font-size: 36px;
    font-family: Calibri;
    color: white;
    text-align: center;
    text-shadow: 3px 1px black;
}
.copyright{
  float: right;
  background: none;
  padding-top: 8px;
  padding-right: 10px;
  color: white;
  font-size: 18px;
  text-shadow: 3px 1px black;
  font-family: Arial;
}